@model DiplomWebApp.Products

@{
    ViewBag.Title = "Видалення";
}

<h2>Видалення</h2>

<h3>Вивпевнені, що хочете це зробити?</h3>
<div>
    <h4>Товар</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductToll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductToll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomsDecorated_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomsDecorated_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owners.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owners.Owner)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
